<div class="col-md-12">
    <div class="card card-container">
        <img id="profile-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1oJbq8uoavHOngzYj_4Kdd0oPf2W0zKS8tA&usqp=CAU"
            class="profile-img-card" />
            <form role="form" #loginform="ngForm">
       <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="user.name" required
                    minlength="3" maxlength="20" #name="ngModel" />
                <!--<div class="alert alert-danger warningMsg" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors.required">Username is required</div>
                    <div *ngIf="username.errors.minlength">
                        Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors.maxlength">
                        Username must be at most 20 characters
                    </div>
                </div>-->
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required email
                    #email="ngModel" />
                <!--<div class="alert alert-danger warningMsg" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">
                        Email must be a valid email address
                    </div>
                </div>-->
            </div>
            <div class="form-group">
                <label for="id">Employee Id</label>
                <input type="number" class="form-control" name="id" [(ngModel)]="user.employeeId" required
                    #id="ngModel" />

            </div>
            <div class="form-group">
                <label for="number">Mobile Number</label>
                <input type="number" class="form-control" name="number" [(ngModel)]="user.mobile" required
                    #number="ngModel" />

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required
                    minlength="8" #password="ngModel" />
                <!--<div class="alert alert-danger warningMsg" *ngIf="password.errors && f.submitted">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 8 characters
                    </div>
                </div>-->
            </div>
            <div class="form-group">
                <button type="button" class="btn colorDark btn-block" (click)="addUser()">Sign Up</button>
                <!--<button class="btn colorDark btn-block">Sign Up</button>-->
            </div>

            <div class="alert alert-warning warningMsg" *ngIf="!isSignUpSuccessful && isSignUpFailed">
                {{ errorMessage }}
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isSignUpSuccessful">
            Your registration is successful!
        </div>
    </div>
</div>
